/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-81 {
    /* Centers button */
    text-align: center;
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(6rem, 9.6vh, 6rem) 1rem 0.1rem;
    /* 130px - 450px */
    padding-bottom: .1rem;
    position: relative;
    z-index: 1;
    /* Prevents white rectangle pseudos from overlapping the sections below */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero-81 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
  }
  #hero-81 .cs-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-81 .cs-container {
    width: 100%;
    max-width: 67.5rem;
    margin: auto;
    margin-top: 2rem;
  }
  #hero-81 .cs-button-solid {
    font-size: 1rem;
    width: 13rem;
  }
  #hero-81 .cs-title {
    /* 36px - 61px */
    font-size: clamp(2rem, 6.4vw, 3.8125rem);
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
    max-width: 51.8125rem;
    /* 16px - 24px */
    margin: 0 auto .5rem;
    position: relative;
    color: var(--bodyTextColorWhite);
  }
  #hero-81 .cs-subtitle {
    font-weight: 300;
    font-size: clamp(1.2rem, 3.4vw, 3.8125rem);
  }
  #hero-81 .cs-text {
    /* 16px - 25px */
    font-size: clamp(1rem, 1.95vw, 1.5625rem);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    /* 464px - 800px */
    max-width: clamp(29rem, 60vw, 50rem);
    margin: 1rem auto .5rem;
    /* 40px - 48px */
    margin-bottom: clamp(0.5rem, 4vw, 3rem);
    color: var(--bodyTextColor);
  }
  #hero-81 .cs-picture {
    display: block;
    position: relative;
    width: clamp(100% 50% 100%);
    height: 10%;
    margin-top: 2rem;
  }
  #hero-81 .cs-picture img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
/* Desktop - 1300px (To make image background parallax) */
@media only screen and (min-width: 65rem) {
  #hero-81 {
    padding: clamp(6rem, 9.6vh, 6rem) 1rem 7rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #hero-81 .cs-subtitle {
    font-weight: 300;
    text-align: left;
    font-size: clamp(1rem, 1.042vw, 1.25rem);
  }
  #hero-81 #cs-form-265 {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    width: 31rem;
    padding-top: 0.69rem;
  }
  #hero-81 #cs-form-265 label {
    width: 100%;
    max-width: 14.4rem;
  }
  #hero-81 #cs-form-265 input,
  #hero-81 #cs-form-265 textarea {
    width: 100%;
  }
  #hero-81 #cs-form-265 .cs-label-message {
    width: 35rem;
    max-width: 31rem;
    margin-bottom: 2.7rem;
  }
  #hero-81 .cs-button-solid {
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 17.5rem;
  }
  #hero-81 .cs-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 0;
    width: 43.75rem;
    margin-left: 12rem;
  }
  #hero-81 .cs-title {
    font-size: 3.375rem;
    text-align: left;
    width: 43.75rem;
    margin: 0;
    padding: 0;
    line-height: 3rem;
  }
  #hero-81 .cs-text {
    font-size: 1.25rem;
    text-align: left;
    width: 40.75rem;
    margin: 0;
    font-weight: 400;
    margin-top: 1rem;
  }
  #hero-81 .cs-picture {
    position: static;
    margin-top: 1rem;
  }
  #hero-81 .cs-picture img {
    width: 100%;
    height: 100%;
  }
}
/*-- -------------------------- -->
<---          Bullets           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-285 {
    /* centers the button */
    text-align: center;
    padding: var(--sectionPadding);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
  }
  #services-285 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-285 .cs-text {
    margin-top: 1rem;
  }
  #services-285 .cs-title {
    font-size: clamp(1.7rem, 6.4vw, 3.8125rem);
    font-weight: 500;
    margin-bottom: 0rem;
  }
  #services-285 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-285 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
  }
  #services-285 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    /* 32px - 40px top & bottom */
    /* 28px - 40px left & right */
    padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
  }
  #services-285 .cs-item:hover {
    transform: translateY(-0.4375rem);
  }
  #services-285 .cs-item:hover .cs-picture:before {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  #services-285 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #services-285 .cs-picture {
    margin: 0;
    margin-bottom: 1.5rem;
    /* 68px - 88px */
    width: clamp(4.25rem, 4vw, 5.5rem);
    height: clamp(4.25rem, 4vw, 5.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  #services-285 .cs-picture:before {
    /* floating hover box */
    content: "";
    width: 130%;
    height: 130%;
    background-color: transparent;
    opacity: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    z-index: 10;
    transition: width 0.5s,
                    height 0.5s,
                    opacity 0.4s;
  }
  #services-285 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-285 .cs-item-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-285 {
    padding-bottom: 7rem;
  }
  #services-285 .cs-content {
    padding: 0;
    margin: 0;
  }
  #services-285 .cs-title {
    font-size: var(--h2);
  }
  #services-285 .cs-text {
    width: 38rem;
  }
  #services-285 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
  }
}
/*-- -------------------------- -->
<--- Tratamento para ansiedade  -->
<--- -------------------------- -*/
/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-893 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
  #list-893 {
    background-color: var(--primaryLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--sectionPadding);
  }
  #list-893 .cs-content {
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: var(----primaryLight);
  }
  #list-893 .cs-title {
    font-size: clamp(1.7rem, 6.4vw, 3.8125rem);
    width: auto;
    margin: .5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    margin-bottom: clamp(0.5rem, 4vw, 3rem);
  }
  #list-893 .cs-text {
    font-size: clamp(1, 1, 1rem);
    width: auto;
    margin: .5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 63em) {
  #list-893 {
    flex-direction: row;
    padding-bottom: 7rem;
  }
  #list-893 .cs-content {
    width: 50rem;
    display: flex;
    flex-direction: column;
  }
  #list-893 .cs-title {
    width: 63rem;
    font-size: 3.0625rem;
    font-weight: 500;
    margin: 0;
  }
  #list-893 .cs-text {
    width: 60rem;
    font-size: 2rem;
  }
  #list-893 #cs-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
@media only screen and (min-width: 95rem) {
  #list-893 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #list-893 .cs-content {
    width: 50rem;
  }
  #list-893 .cs-text {
    width: 60rem;
  }
  #list-893 #cs-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  #list-893 .cs-picture {
    width: 50rem;
    height: 50rem;
    margin-left: -14rem;
  }
  #list-893 .cs-picture img {
    width: 100%;
    height: 100%;
  }
}
/*-- -------------------------- -->
<---        Fronteiras          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1278 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 53.125rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    /* 48px - 108px */
    gap: clamp(3rem, 5vw, 6.75rem);
  }
  #sbs-1278 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #sbs-1278 .cs-title {
    max-width: 20ch;
    margin-bottom: clamp(0.5rem, 4vw, 3rem);
  }
  #sbs-1278 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1278 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1278 .cs-picture {
    width: 100%;
    /* 456px - 598px */
    height: clamp(24rem, 46vw, 37.375rem);
    overflow: hidden;
    display: block;
    /* sends it to the bottom in the 2nd position */
    order: 2;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-picture:before {
    /* black overlay */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #sbs-1278 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1278 .cs-background {
    width: 100%;
    height: 50%;
    background-color: #F3A477;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1278 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1278 .cs-content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #sbs-1278 .cs-flex {
    width: 45%;
  }
  #sbs-1278 .cs-title {
    margin: 0;
  }
  #sbs-1278 .cs-text {
    width: 50%;
  }
  #sbs-1278 .cs-picture {
    height: 70rem;
  }
  #sbs-1278 .cs-button-solid {
    margin-bottom: 5rem;
    justify-content: flex-start;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 60rem) {
  #sbs-1278 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #sbs-1278 .cs-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  #sbs-1278 .cs-content {
    width: 100%;
    max-width: 27.0625rem;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
    row-gap: 0;
  }
  #sbs-1278 .cs-flex {
    width: 100%;
  }
  #sbs-1278 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    font-size: 3.0625rem;
    text-align: left;
    width: 25rem;
  }
  #sbs-1278 .cs-text {
    width: 100%;
    font-size: 1.25rem;
    text-align: left;
  }
  #sbs-1278 .cs-picture {
    max-width: 46.125rem;
    height: 30rem;
    order: 1;
  }
  #sbs-1278 .cs-background {
    width: 60vw;
    height: 100%;
    /* 172px - 336px */
    margin-right: clamp(11.125rem, 30vw, 21rem);
    left: auto;
    right: 50%;
    top: 0;
  }
}
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-1691 {
    padding: var(--sectionPadding);
    overflow-x: hidden;
  }
  #pricing-1691 span {
    color: #1A1A1A;
  }
  #pricing-1691 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #pricing-1691 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content to the left, set to center to centrally align */
    align-items: center;
    justify-content: center;
  }
  #pricing-1691 .cs-title {
    margin: 0;
    max-width: 25ch;
    text-align: center;
  }
  #pricing-1691 .cs-text {
    max-width: 32.625rem;
  }
  #pricing-1691 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-flow: wrap row;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.5rem);
    transform-style: preserve-3d;
    perspective: 700px;
  }
  #pricing-1691 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    margin: 0;
    /* 56px - 80px */
    padding: 2.5rem clamp(1.5rem, 6vw, 2rem);
    box-sizing: border-box;
    background-color: #F3A477;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
  }
  #pricing-1691 .cs-item::before {
    content: "";
    width: 1px;
    height: 80%;
    background-color: #e8e8e8;
    position: absolute;
    top: 0;
    left: 2rem;
  }
  #pricing-1691 .cs-item.cs-popular {
    background-color: #F3A477;
  }
  #pricing-1691 .cs-item.cs-popular .cs-package,
  #pricing-1691 .cs-item.cs-popular .cs-li {
    color: #1A1A1A;
  }
  #pricing-1691 .cs-item.cs-popular .cs-icon {
    /* if icon is not black, this turns it white */
    filter: grayscale(1) brightness(1000%);
  }
  #pricing-1691 .cs-item.cs-popular .cs-price,
  #pricing-1691 .cs-item.cs-popular .cs-link {
    color: #1A1A1A;
  }
  #pricing-1691 .cs-item.cs-popular .cs-arrow {
    filter: grayscale(1) brightness(100);
  }
  #pricing-1691 .cs-package {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
  }
  #pricing-1691 .cs-price {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.2em;
    /* 36px - 48px */
    margin-bottom: clamp(2.25rem, 4vw, 3rem);
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
  }
  #pricing-1691 .cs-ul {
    margin: 0 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #pricing-1691 .cs-li {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.2em;
    list-style: none;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: center;
    /* push everything to the top so if the li goes to two lines the icon stays at the top */
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  #pricing-1691 .cs-li.cs-disabled {
    opacity: 0.5;
  }
  #pricing-1691 .cs-duration {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #pricing-1691 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    /* 36px - 48px */
    margin-top: clamp(2.25rem, 4vw, 3rem);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    transition: color 0.3s;
  }
  #pricing-1691 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #pricing-1691 .cs-link-text {
    width: fit-content;
  }
  #pricing-1691 .cs-arrow {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: filter 0.3s, transform 0.3s;
  }
  #pricing-1691 .cs-graphic {
    width: 31.9375rem;
    height: 10.75rem;
    position: absolute;
    /* -60px - -100px, using a calc for negative clamp */
    top: calc(clamp(3.75rem, 8vw, 6.25rem) * -1);
    right: -17.5rem;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1691 .cs-item {
    width: 80%;
  }
  #pricing-1691 .cs-graphic {
    width: 36.375rem;
    height: auto;
    right: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-1691 .cs-content {
    text-align: center;
    align-items: center;
  }
  #pricing-1691 .cs-card-group {
    flex-wrap: nowrap;
  }
}
/*-- -------------------------- -->
<--- Quem somos?  -->
<--- -------------------------- -*/
/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-893 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
  #list-894 {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--sectionPadding);
  }
  #list-894 .cs-content {
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: var(----primaryLight);
  }
  #list-894 .cs-title {
    font-size: clamp(1.7rem, 6.4vw, 3.8125rem);
    width: auto;
    margin: .5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    margin-bottom: clamp(0.5rem, 4vw, 3rem);
  }
  #list-894 .cs-text {
    font-size: clamp(1, 1, 1rem);
    width: auto;
    margin: .5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  #list-894 .cs-picture {
    width: 100%;
    height: 100%;
  }
  #list-894 .cs-picture .cs-icon {
    width: 90%;
    height: 90%;
  }
  #list-894 .cs-block {
    display: flex;
  }
  #list-894 .cs-block .cs-picture2 .cs-icon {
    width: 2px;
    height: 12rem;
  }
}
@media only screen and (min-width: 63em) {
  #list-894 {
    flex-direction: row;
    padding-bottom: 7rem;
  }
  #list-894 .cs-content {
    width: 50rem;
  }
  #list-894 .cs-title {
    font-size: 3.75rem;
    font-weight: 500;
  }
  #list-894 .cs-text {
    width: 30rem;
  }
  #list-894 #cs-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
@media only screen and (min-width: 95rem) {
  #list-895 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #list-895 .cs-content {
    margin-left: 12rem;
    width: 50rem;
  }
  #list-895 .cs-text {
    width: 30rem;
    margin-top: 1rem;
  }
  #list-895 #cs-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  #list-895 .cs-picture {
    width: 50rem;
    height: 50rem;
    margin-left: -14rem;
  }
  #list-895 .cs-picture img {
    width: 100%;
    height: 100%;
  }
}
/*-- -------------------------- -->
        <---        Dúvidas?            -->
        <--- -------------------------- -*/
/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-893 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
@media only screen and (min-width: 0rem) {
  #pricing-1387 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: var(--sectionPadding);
    /* clips the cs-floater and prevents it from causing overflow issues */
    overflow: hidden;
    position: relative;
    z-index: 1;
    justify-content: center;
  }
  #pricing-1387 .cs-h3 {
    font-weight: 500;
    padding: var(--sectionPadding);
  }
  #pricing-1387 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 3vw, 4rem);
    position: relative;
  }
  #pricing-1387 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-1387 .cs-text {
    margin-bottom: 1rem;
  }
  #pricing-1387 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #pricing-1387 .cs-toggle-group {
    width: 100%;
    max-width: 25.875rem;
    margin: 0;
    padding: 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #f1f1f4;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pricing-1387 .cs-plan {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
  }
  #pricing-1387 .cs-plan:hover {
    cursor: pointer;
  }
  #pricing-1387 .cs-toggle {
    width: 3.25rem;
    height: 2rem;
    border-radius: 2.5rem;
    background-color: var(--primaryLight);
    margin: 0 1.5rem;
    position: relative;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #pricing-1387 .cs-toggle:hover {
    cursor: pointer;
  }
  #pricing-1387 .cs-toggle.active:before {
    opacity: 1;
  }
  #pricing-1387 .cs-toggle.active .cs-toggle-switch {
    left: 1.4375rem;
  }
  #pricing-1387 .cs-toggle:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 2.5rem;
    transition: opacity 0.3s;
  }
  #pricing-1387 .cs-toggle-switch {
    width: 1.625rem;
    height: 1.625rem;
    display: block;
    border-radius: 50%;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.06)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.1875rem;
    transition: left 0.3s;
    background: #fff;
  }
  #pricing-1387 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #pricing-1387 .cs-card-group.cs-active.cs-option1 {
    /* when the active class is on the cs-card-group, run these styles */
    transform: scale(0);
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
  #pricing-1387 .cs-card-group.cs-active.cs-option1 .cs-item {
    /* when the active class is on the cs-card-group, run these styles */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s,
                                    transform 0.6s;
  }
  #pricing-1387 .cs-card-group.cs-active.cs-option2 {
    /* when the active class is on the cs-card-group, run these styles */
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    position: relative;
    right: auto;
    bottom: auto;
    transform: scale(1);
  }
  #pricing-1387 .cs-card-group.cs-active.cs-option2 .cs-item {
    /* when the active class is on the cs-card-group, run these styles */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
  }
  #pricing-1387 .cs-option1 {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 1;
    visibility: visible;
    right: 0;
    bottom: auto;
    transform: scale(1);
    transform-origin: top;
    transition: transform 0.6s,
                        opacity 0.3s,
                        visibility 0.3s;
  }
  #pricing-1387 .cs-option1 .cs-item {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 1;
    transform: translateY(0rem) rotateY(0deg);
    transition: opacity 0.3s,
                            transform 0.6s;
  }
  #pricing-1387 .cs-option1 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-1387 .cs-option1 .cs-item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-1387 .cs-option2 {
    /* default styles when there is no active class on the cs-card-group */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0.6s,
                        opacity 0.3s,
                        visibility 0.3s;
  }
  #pricing-1387 .cs-option2 .cs-item {
    /* default styles when there is no active class on the cs-card-group */
    opacity: 0;
    transform: translateY(1.25rem) rotateY(90deg);
    transition: opacity 0.3s,
                            transform 0.6s;
  }
  #pricing-1387 .cs-option2 .cs-item:nth-of-type(2) {
    transition-delay: 0.2s;
  }
  #pricing-1387 .cs-option2 .cs-item:nth-of-type(3) {
    transition-delay: 0.4s;
  }
  #pricing-1387 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  #pricing-1387 .cs-item.cs-popular .cs-flex {
    background-color: #40C351;
  }
  #pricing-1387 .cs-item.cs-popular .cs-tag {
    display: flex;
  }
  #pricing-1387 .cs-item.cs-popular .cs-package,
  #pricing-1387 .cs-item.cs-popular .cs-price,
  #pricing-1387 .cs-item.cs-popular .cs-duration {
    color: var(--bodyTextColorWhite);
  }
  #pricing-1387 .cs-item.cs-popular .cs-duration {
    opacity: 0.8;
  }
  #pricing-1387 .cs-item.cs-popular .cs-button-transparent {
    background-color: #40C351;
    color: #fff;
    transition: color 0.3s, border-color 0.6s, background-color 0.3s;
  }
  #pricing-1387 .cs-item.cs-popular .cs-button-transparent:hover {
    border-color: #CB7849;
    background-color: #1a1a1a;
  }
  #pricing-1387 .cs-flex {
    /* 196px - 250px */
    width: clamp(12.25rem, 25vw, 15.625rem);
    height: clamp(12.25rem, 25vw, 15.625rem);
    margin-bottom: -6.25rem;
    border-radius: 50%;
    background-color: #CB7849;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #pricing-1387 .cs-tag {
    font-size: 0.8125rem;
    color: var(--headerColor);
    text-transform: uppercase;
    /* keeps the text in one line, won't jump to two lines */
    white-space: nowrap;
    font-weight: 700;
    padding: 0.5rem;
    gap: 0.25rem;
    border-radius: 50px;
    background-color: #fff;
    /* clips the corners of the pseudo element */
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: -0.25rem;
    transform: translateX(-50%);
  }
  #pricing-1387 .cs-tag:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #pricing-1387 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: flex;
    width: 80%;
    height: 80%;
  }
  #pricing-1387 .cs-package {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    /* 4px - 8px */
    margin: 0 0 clamp(0.25rem, 1vw, 0.5rem) 0;
  }
  #pricing-1387 .cs-price {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 4vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #pricing-1387 .cs-duration {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    text-align: inherit;
    margin: 0;
    /* 4px - 8px */
    padding: clamp(0.25rem, 1vw, 0.5rem) 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #pricing-1387 .cs-info {
    width: 100%;
    padding: 5.375rem 2.5rem 2.5rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pricing-1387 .cs-ul {
    width: 100%;
    margin: 2.5rem 0 2.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #pricing-1387 .cs-li {
    font-size: 1.5625rem;
    list-style: none;
    line-height: 1.5em;
    font-weight: 500;
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: #4E4B66;
    display: block;
  }
  #pricing-1387 .cs-li span {
    color: #4E4B66;
    font-weight: 600;
  }
  #pricing-1387 .cs-li.cs-disabled {
    opacity: 0.5;
  }
  #pricing-1387 .cs-button-transparent {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #1a1a1a;
    padding: 0 3rem;
    border-radius: 1.875rem;
    border: 1px solid #1a1a1a;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
    width: 16.4rem;
  }
  #pricing-1387 .cs-button-transparent:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #pricing-1387 .cs-button-transparent:hover {
    color: var(--bodyTextColorWhite);
    border-color: #1a1a1a;
  }
  #pricing-1387 .cs-button-transparent:hover:before {
    width: 100%;
  }
  #pricing-1387 .cs-button-transparent {
    /* this is the section specific override if you choose to pull out the cs-button-transparent and place it in a global stylesheet to resue acorss the entire site */
    margin-top: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-1387 .cs-container {
    max-width: 80rem;
  }
  #pricing-1387 .cs-container .cs-card-group {
    flex-direction: row;
    align-items: stretch;
  }
  .cs-card-group {
    display: flex;
    flex-direction: row;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #pricing-1387 .cs-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 60rem;
  }
  #pricing-1387 .cs-content {
    text-align: center;
    align-items: center;
  }
  #pricing-1387 .cs-info {
    min-height: 27rem;
  }
  #pricing-1387 .cs-card-group {
    display: flex;
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1332 {
    padding: var(--sectionPadding);
    overflow: hidden;
    background-color: #FFEADD;
  }
  #meet-team-1332 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1332 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1332 .cs-color {
    color: var(--primary);
  }
  #meet-team-1332 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-1332 .cs-item {
    list-style: none;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-1332 .cs-item:hover {
    cursor: pointer;
  }
  #meet-team-1332 .cs-item:hover .cs-picture:before {
    opacity: 1;
  }
  #meet-team-1332 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-1332 .cs-item:hover .cs-name {
    color: #eda708;
  }
  #meet-team-1332 .cs-picture {
    width: 100%;
    /* 320px - 412px */
    height: clamp(20rem, 90vw, 25.75rem);
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1332 .cs-picture:before {
    /* defualt gradient */
    content: "";
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.94) 65%, rgba(26, 26, 26, 0.94) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.94) 65%, rgba(26, 26, 26, 0.94) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.94) 65%, rgba(26, 26, 26, 0.94) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
  }
  #meet-team-1332 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 3;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-1332 .cs-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    z-index: 10;
  }
  #meet-team-1332 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: #f6e5db;
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1332 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: #f7f7f7;
    display: block;
  }
}
/* In-between - 550px */
@media only screen and (min-width: 34.375rem) {
  #meet-team-1332 .cs-card-group {
    align-items: stretch;
  }
  #meet-team-1332 .cs-item {
    width: 48.3%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1332 .cs-item {
    width: 31.7%;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #meet-team-1332 .cs-card-group {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #meet-team-1332 .cs-item {
    width: 100%;
  }
  #meet-team-1332 .cs-item:hover .cs-picture:before {
    opacity: 1;
  }
  #meet-team-1332 .cs-item:hover .cs-info {
    opacity: 1;
    bottom: 1.5rem;
  }
  #meet-team-1332 .cs-item:hover .cs-name,
  #meet-team-1332 .cs-item:hover .cs-job {
    transform: translateY(0);
  }
  #meet-team-1332 .cs-picture:before {
    opacity: 0;
  }
  #meet-team-1332 .cs-info {
    opacity: 0;
    bottom: -3.125rem;
    transition: opacity 0.3s,
                bottom 0.6s;
  }
  #meet-team-1332 .cs-name,
  #meet-team-1332 .cs-job {
    transform: translateY(1rem);
    transition: color 0.3s,
                transform 0.3s;
  }
  #meet-team-1332 .cs-job {
    transition: transform 0.9s;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-565 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-content: center;
  }
  #gallery-565 .cs-picture {
    width: 100%;
    height: auto;
    /* height divided by width */
    aspect-ratio: 1.34328358;
    display: block;
    position: relative;
    padding: 50px;
  }
  #gallery-565 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-565 {
    flex-direction: row;
  }
  #gallery-565 .cs-picture {
    /* 268px - 550px */
    height: clamp(16.75rem, 37vw, 34.375rem);
    aspect-ratio: initial;
    width: 20%;
  }
}
